#friends-display-link {
  display: block;
  width: 100%;
  text-align: center;
  top: 100px;
  background-color: #fafafa;
  padding: 15px 0px;
  z-index: -1;
  font-size: 18px;
  margin-bottom: 10px;
}

#friends-display-link i {
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}
